<header>
    <div class="container">
        <div class="social-lang">
            <div class="social-lang__social">
                <!--<div class="social__icon"><img src="img/facebook.png" alt="facebook"></div>-->
                <!--<div class="social__icon"><img src="img/instagram.png" alt="insta"></div>-->
                <!--<div class="social__icon"><img src="img/twitter.png" alt="twitter"></div>-->
                <div class="social__icon socialLinks-item_fb">

                </div>
                <div class="social__icon socialLinks-item_inst">

                </div>
                <div class="social__icon socialLinks-item_tw">

                </div>

            </div>
            <div class="social-lang__lang">
                <div class="lang__text"><span>UA</span></div>
                <div class="lang__text"><span>EN</span></div>
            </div>
        </div>
    </div>
</header>