<header>
    <div class="container">
        <div class="social-lang">
            <div class="social-lang__social">
                <div class="social__icon"><img src="img/facebook.png" alt="facebook"></div>
                <div class="social__icon"><img src="img/instagram.png" alt="insta"></div>
                <div class="social__icon"><img src="img/twitter.png" alt="twitter"></div>
            </div>
            <div class="social-lang__lang">
                <div class="lang__text"><span>UA</span></div>
                <div class="lang__text"><span>EN</span></div>
            </div>
        </div>
    </div>
    <div class="logo-title-about__img">
        <div class="container container-header__height">
            <div class="logo-title-about">
                <div class="header__logo"><img src="img/logo.png" alt="logo"></div>
                <div class="header__title"><span>Надто пізно</span></div>
                <div class="header__about"><span>Про нас</span></div>
            </div>
        </div>
    </div>
</header>