/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";

/*
* Custom
*/
@import "partials/app";
@import "partials/variables.scss";
// @import "../../node_modules/slick-carousel/slick/slick.scss";

@font-face { 
    font-family: "Lato";
    src: url(../fonts/LatoRegular.ttf);
}

@mixin font ($size, $color) {
    font-family: "Lato";
    font-size: $size;
    color: $color;
}

.container {
    width: $desktop-container;
    margin: 0 auto;
    @media (max-width: $lg-max) {
        width: 90%;
    }
}

//header

.social__icon { 
    cursor: pointer; 
    height: 25px; 
    width: 25px; 
    margin-right: 20px; 
    transition: 0.3s; 
    &.socialLinks-item_fb { 
        background: url('../img/social-icons/fb.svg') no-repeat; 
        background-size: contain; 
        &:hover { 
            background: url('../img/social-icons/fb-hover.svg') no-repeat; 
            background-size: contain; 
        } 
    } 
    &.socialLinks-item_inst { 
        background: url('../img/social-icons/inst.svg') no-repeat; 
        background-size: contain; 
        &:hover { 
            background: url('../img/social-icons/inst-hover.svg') no-repeat; 
            background-size: contain; 
        } 
    } 
    &.socialLinks-item_tw { 
        background: url('../img/social-icons/tw.svg') no-repeat; 
        background-size: contain; 
        &:hover { 
            background: url('../img/social-icons/tw-hover.svg') no-repeat; 
            background-size: contain; 
        } 
    } 
}

header {
    background-color: #393939;
}

.social-lang {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.social-lang__social {
    display: flex;
    align-items: center;
}

.social__icon {
    padding-right: 25px;
    display: flex;
}

.social-lang__lang {
    display: flex;
    align-items: center;
}

.lang__text {
    padding-left: 10px;
    font-family: "Lato";
    color: #cccccc;
    font-size: 12px;
    text-transform: uppercase;
    &:hover {
        color: #ffe200;
        cursor: pointer;
    }
}

.logo-title-about__img {
    background-image: url(../img/bacimg.png);
    width: 100%;
    height: 400px;
    background-position: center;
    @media (max-width: $xs-max) {
        position: relative;
    }
}

.logo-title-about {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__title {
    @include font (72px, #ffe200);
    align-self: center;
    text-align: center;
    @media (max-width: $xs-max) {
        position: absolute;
        font-size: 45px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

.header__logo {
    margin-top: 1%;
    @media (max-width: $lg-max) {
        width: 20%;
        margin-top: 4%;
    }
    img {
        @media (max-width: $lg-max) {
        width: 100%;
        }
    }
}

.header__about {
    @include font (18px, #cccccc);
    text-transform: uppercase;
    margin-top: 2%;
    &:after {
        content: "";
        display: block;
        border-bottom: 3px solid #ffe200;
        margin: 0 auto;
        width: 95%;
    }
    @media (max-width: $lg-max) {
        margin-top: 6%;
        font-size: 17px;
    }
}

.container-header__height {
    height: 100%;
}

//contant

.container-content {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    padding: 81px 0;
    @media (max-width: $lg-max) {
        width: 90%;
    }
    @media (max-width: $xs-max) {
        flex-direction: column;
        padding: 35px 0;
    }
}

.info__left {
    width: 27%;
    @media (max-width: $xs-max) {
        width: 100%;
    }
}

.left__img-title {
    width: 100%;
    img {
        width: 100%;
    }
}

.info__right {
    width: 67%;
    @media (max-width: $xs-max) {
        width: 100%;
        margin-top: 30px;
    }
}

.right__img {
    width: 100%;
    img {
        width: 100%;
    }
}

.flex__content-left {
    display: flex;
    padding: 10px 0;
}

.left__information {
    margin-top: 30px;
}

.information__text {
    width: 50%;
    span {
        @include font (14px, #333);
        font-weight: bold;

    }
}

.information__value {
    width: 50%;
    span {
        @include font (14px, #333);
        font-weight: 400;
    }
}

.actors {
    display: flex;
    flex-direction: column;
}

.btn {
    text-align: center;
    padding: 15px;
    border: 5px solid #ffe200;
    margin-top: 20px;
        &:hover {
            background-color: #ffe200;
            color: #333;
            transition: 0.4s;
        }
    a {
        @include font (24px, #868686); 
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            color: #333;
            transition: 0.4s;
        }
    }
}

.content-text {
    @include font (14px, #333); 
    font-weight: bold;
}

.right__block-min-img {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    // justify-content: space-between;
    a {
        display: block;
        width: 33%;
        padding: 12px;
        box-sizing: border-box;
        @media (max-width: $xs-max) {
            width: 75%;
        }
    }
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    @media (max-width: $xs-max) {
        flex-direction: column;
        align-items: center;
    }
}

.footer-content {
    background-color: #696969;
    text-align: center;
    @include font (24px, #313131);
    padding: 21px 0 16px;
}