/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";


/*
* Custom
*/
@import "partials/app";
@import "partials/variables.scss";
@import "partials/main-page.scss";
// @import "../../node_modules/slick-carousel/slick/slick.scss";

a {
    text-decoration: none;
}

body, html {
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

a, p, h1, h2 {
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

@font-face { 
    font-family: "Lato";
    src: url(../fonts/LatoRegular.ttf);
}

@mixin font ($size, $color) {
    font-family: "Lato";
    font-size: $size;
    color: $color;
}

.container {
    width: $desktop-container;
    margin: 0 auto;
    @media (max-width: $lg-max) {
        width: 90%;
    }
}

//header

.social__icon { 
    cursor: pointer; 
    height: 25px; 
    width: 25px; 
    margin-right: 20px; 
    transition: 0.3s; 
    &.socialLinks-item_fb { 
        background: url('../img/social-icons/fb.svg') no-repeat; 
        background-size: contain; 
        &:hover { 
            background: url('../img/social-icons/fb-hover.svg') no-repeat; 
            background-size: contain; 
        } 
    } 
    &.socialLinks-item_inst { 
        background: url('../img/social-icons/inst.svg') no-repeat; 
        background-size: contain; 
        &:hover { 
            background: url('../img/social-icons/inst-hover.svg') no-repeat; 
            background-size: contain; 
        } 
    } 
    &.socialLinks-item_tw { 
        background: url('../img/social-icons/tw.svg') no-repeat; 
        background-size: contain; 
        &:hover { 
            background: url('../img/social-icons/tw-hover.svg') no-repeat; 
            background-size: contain; 
        } 
    } 
}

header {
    background-color: #393939;
}

.social-lang {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.social-lang__social {
    display: flex;
    align-items: center;
}

.social__icon {
    padding-right: 25px;
    display: flex;
}

.social-lang__lang {
    display: flex;
    align-items: center;
}

.lang__text {
    padding-left: 10px;
    font-family: "Lato";
    color: #cccccc;
    font-size: 12px;
    text-transform: uppercase;
    &:hover {
        color: #ffe200;
        cursor: pointer;
    }
}

.logo-title-about__img {
    background-image: url(../img/bacimg.png);
    width: 100%;
    height: 400px;
    background-position: center;
    @media (max-width: $xs-max) {
        position: relative;
    }
}

.logo-title-about {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__title {
    @include font (72px, #ffe200);
    align-self: center;
    text-align: center;
    @media (max-width: $xs-max) {
        position: absolute;
        font-size: 45px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

.header__logo {
    margin-top: 1%;
    @media (max-width: $lg-max) {
        width: 20%;
        margin-top: 4%;
    }
    img {
        @media (max-width: $lg-max) {
        width: 100%;
        }
    }
}

.header__about {
    @include font (18px, #cccccc);
    text-transform: uppercase;
    margin-top: 2%;

    a {
        color: #cccccc;
    }
    &:after {
        content: "";
        display: block;
        border-bottom: 3px solid #ffe200;
        margin: 0 auto;
        width: 95%;
    }
    @media (max-width: $lg-max) {
        margin-top: 6%;
        font-size: 17px;
    }
}

.container-header__height {
    height: 100%;
}

//contant

.container-content {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    padding: 81px 0;
    @media (max-width: $lg-max) {
        width: 90%;
    }
    @media (max-width: $xs-max) {
        flex-direction: column;
        padding: 35px 0;
    }
}

.info__left {
    width: 27%;
    @media (max-width: $xs-max) {
        width: 100%;
    }
}

.left__img-title {
    width: 100%;
    img {
        width: 100%;
    }
}

.info__right {
    width: 67%;
    @media (max-width: $xs-max) {
        width: 100%;
        margin-top: 30px;
    }
}

.right__img {
    width: 100%;
    img {
        width: 100%;
    }
}

.flex__content-left {
    display: flex;
    padding: 10px 0;
}

.left__information {
    margin-top: 30px;
}

.information__text {
    width: 50%;
    span {
        @include font (14px, #333);
        font-weight: bold;

    }
}

.information__value {
    width: 50%;
    span {
        @include font (14px, #333);
        font-weight: 400;
    }
}

.actors {
    display: flex;
    flex-direction: column;
}

.btn {
    text-align: center;
    padding: 15px;
    border: 5px solid #ffe200;
    margin-top: 20px;
        &:hover {
            background-color: #ffe200;
            color: #333;
            transition: 0.4s;
        }
    a {
        @include font (24px, #868686);
        font-weight: bold;
        text-decoration: none;
        &:hover {
            color: #333;
            transition: 0.4s;
        }
    }
}

.content-text {
    @include font (14px, #333);
    font-weight: bold;
}

.right__block-min-img {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
    // justify-content: space-between;
    a {
        display: block;
        width: 33%;
        padding: 12px;
        box-sizing: border-box;
        @media (max-width: $xs-max) {
            width: 75%;
        }
        @media #{$md} {
            width: 50%;
        }
    }
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    @media (max-width: $xs-max) {
        flex-direction: column;
        align-items: center;
    }
}

.wraper-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-content {
    background-color: #696969;
    text-align: center;
    @include font (24px, #313131);
    padding: 21px 0 16px;

    @media #{$md} {
        font-size: 16px;
    }

    @media #{$xs} {
        font-size: 16px;
    }
}

.img-title--position {
    position: relative;
}

.img-title__play {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

//about 
.about__info-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about {
    padding: 110px 0;
}

.info__text {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid #ffe200;
    span {
        @include font (16px, #333);
    }
}

.about__persone {
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.persone {
    display: flex;
    align-items: center;
}

.persone__menu {
    list-style: none;
    li {
        padding: 10px 0;
        @include font (18px, #313131);
        font-weight: 300;
        @media (max-width: 1024px) {
            font-size: 14px;
        }
    }
}

.persone-name {
    span {
        font-size: 22px;
    }
}

@media (max-width: $lg-min) {
    .persone-img {
        img {
            width: 218px;
            height: 218px;
        }
    }

    .about__persone {
        align-items: flex-start;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
    }

    .info__text {
        margin-top: 10%;
    }

    .about__info-logo {
        flex-direction: column-reverse;

    }

    .persone {
        padding: 20px;
    }

    .about {
        padding: 50px;
    }
}

@media (max-width: $sm-min) {

    .info__text {
        width: 100%;
    }

    .about__logo {
        margin-top: 30px;
    }
}

@media (max-width: 628px) {
    .persone {
        display: flex;
        flex-direction: column;
    }

    .persone__ul-menu {
        text-align: center;
    }

    .persone__menu {
        padding: 0;
    }
}

.custom-modal {
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
//   width: 500px;
  background: #fff;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.75);
  //border-radius: 5px;
  max-height: 0;
  overflow: auto;
  z-index: 99999;
  transition: all 2s ease;
  box-sizing: border-box;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  //padding: 150%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 9999;
  overflow-y: scroll;
}

.modal-animate {
  animation-name: slideIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.modal-disable {
  animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
  from {max-height: 0; opacity: 0;padding:0}
  to {max-height:1000px; opacity: 1;padding: 0;}
}

@keyframes slideOut {
  from {max-height:1000px; opacity: 1;padding: 0;}
  to {max-height: 0; opacity: 0;padding:0}
}

.modal-content {
  display: flex;
  background-color: #393939;
  
}

.modal__video {
    width: 65%;
    img {
        width: 100%;
    }
}

.modal__right-bar {
    width: 35%;
    padding: 10px;
}

.right-bar__title {
    @include font (22px, #cccccc);
    font-weight: 300;
    line-height: 29px;
    &:after {
        content: "";
        display: block;
        margin-top: 7px;
        border: 1px solid #ffe200;
    }
}

.right-bar__text {
    p {
        @include font (18px, #cccccc);
        line-height: 19px;
    }
}

.modal-btn {
    padding: 15px 0;
    a {
        font-size: 15px;
        color: #cccccc;
    }
}
