@import "variables.scss";

video {
  width: 100%;
  height: auto;
}

.video-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  height: 670px;
  overflow: hidden;
}

.logo {
  position: absolute;
}

.mainVideo-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__about.header__about--main {
    margin-top: 0;
}

.container.container-video {
  min-height: 100%;
  height: 590px;
  position: relative;
}

.mainVideoDescription {
  width: 50%;
  position: absolute;
  bottom: 100px;
  right: 0;
  text-align: right;
  .mainVideo-title {
    font-size: 32px;
  }
  .mainVideo-paragraph {
    font-size: 18px;
  }
}

.selectBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  .selectBlock-film {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      color: #777777;
      transition: 0.5s;
      &:hover {
        transition: 0.5s;
        color: #000;
      }
    }
    .filmLink {
      text-align: right;
    }
    .festivalLink {
      text-align: left;
    }
    span {
      text-transform: uppercase;
      font-size: 30px;
    }
    .border {
      color: black;
      background-color: black;
      width: 2px;
      height: 55px;
      display: block;
      margin: 12px;
    }
  }
}




@media #{$md} {
  video {
    width: auto;
    height: 100%;
  }
}

@media #{$sm}, #{$xs} {
  video {
    width: auto;
    height: 100%;
  }
  .mainVideoDescription {
    width: 100%;
  }
}

.FilmAndFestival {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: -12px;
  margin-left: -12px;
}

.FilmAndFestival-item {
  position: relative;
  width: 25%;
  padding: 12px;
  box-sizing: border-box;
  img {
    display: block;
  }
  &:hover {
    .FilmAndFestival-overlay {
      transition: all 0.5s;
      opacity: 1;
      visibility: visible;
    }
    .playBtn {
      transition: all 0.5s;
      opacity: 1;
      visibility: visible;
    }
  }
}

.FilmAndFestival-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  z-index: 2;
}

.playBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  height: 70px;
  width: 70px;
  z-index: 3;
  img {
    height: 100%;
    width: auto;
  }
}

.FilmAndFestival-content {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
}
.FilmAndFestival-title {
  text-align: center;
}

.btn_main {
  width: 300px;
  margin: 60px auto;

}

@media #{$md} {
  .FilmAndFestival-item {
    width: 50%;
  }
}

@media #{$sm}, #{$xs} {
  .FilmAndFestival-item {
    width: 100%;
  }
  .btn_main {
    width: 250px;
  }
}